**/*__pycache__/
**/*__oldFiles/
**/*_oldFiles/
**/*.DS_Store
**/~$*.docx
**/*.cache
**/*.lock
**/*.out
.idea/
venv/
**/*.pyc
**/*.wav
**/*.png
**/*.jpg
**/*.mp3
**/*.tmp
**/$*
**/~*
**/.*

!.git*

_projectFiles/_supplementaryWork/Machine Learning Predictions/finalFigures/*

# Machine learning control files and folders
helperFiles/machineLearning/modelControl/Models/pyTorch/emotionModelInterface/dataAnalysis/trainingFigures/
helperFiles/machineLearning/modelControl/_finalModels/storedModels/
helperFiles/machineLearning/modelControl/_finalModels/emotionModel/

# Feedback control files and folders
helperFiles/machineLearning/feedbackControl/virtualRealityControl/Virtual Images/horror.osgb
helperFiles/machineLearning/feedbackControl/musicTherapy/musicHelpers/organizedSounds/_compiledSounds/

# Supplementary information
_projectFiles/_supplementaryWork/Signal Data and Features/Figures/Feature Time Windows/
_projectFiles/_adobeIllustrator/
_projectFiles/_backgroundInfo/
_projectFiles/_figurePlans/

# Compiled Dataset
_experimentalData/_compiledData/_*

# Unused Metadatasets
_experimentalData/_metadatasets/_notUsing/

# WESAD Dataset
_experimentalData/_metadatasets/WESAD/S*
_experimentalData/_metadatasets/WESAD/dataAnalysis/
!_experimentalData/_metadatasets/WESAD/savedFeatures/

# Dapper Dataset
_experimentalData/_metadatasets/DAPPER/*
!_experimentalData/_metadatasets/DAPPER/savedFeatures/

# Emognition Dataset
_experimentalData/_metadatasets/EMOGNITION/*
!_experimentalData/_metadatasets/EMOGNITION/savedFeatures/
_experimentalData/_metadatasets/EMOGNITION/savedFeatures/Old/
_experimentalData/_metadatasets/EMOGNITION/savedFeatures/_oldFiles/

# AMIGOS Dataset
_experimentalData/_metadatasets/AMIGOS/dataAnalysis/
_experimentalData/_metadatasets/AMIGOS/allOriginalData/
_experimentalData/_metadatasets/AMIGOS/allProcessedData/
_experimentalData/_metadatasets/AMIGOS/savedFeatures/_*
!_experimentalData/_metadatasets/AMIGOS/savedFeatures/

# CASE Dataset
_experimentalData/_metadatasets/CASE/data/raw/
_experimentalData/_metadatasets/CASE/data/initial/
_experimentalData/_metadatasets/CASE/data/non-interpolated/
_experimentalData/_metadatasets/CASE/data/interpolated/annotations/
_experimentalData/_metadatasets/CASE/data/interpolated/dataAnalysis/
_experimentalData/_metadatasets/CASE/data/interpolated/physiological/*.csv
_experimentalData/_metadatasets/CASE/data/interpolated/physiological/savedFeatures/_*

# Plots in metadatasets
_experimentalData/_metadatasets/**/*.png
_experimentalData/_metadatasets/**/*.pdf

_experimentalData/_metadatasets/AMIGOS/Saved Features/_*
_experimentalData/_metadatasets/AMIGOS/Saved Features/.*