numpy
scipy
pandas
seaborn
natsort
matplotlib

joblib
pyexcel
openpyxl
pyserial
pyfirmata2

shap
torch
xgboost
lightgbm
torchaudio
torchvision
torchsummary
transformers
scikit-learn
tensorflow
pytorch_wavelets
PyWavelets

pyeeg
eeglib
librosa
antropy
torchviz
neurokit2

accelerate
openai-whisper
SpeechRecognition
webdriver_manager

PyQt5
dill
requests
Pillow
ipython
sympy
soundfile
sounddevice
openai
selenium
pygame
baselineremoval
plotapi
