accelerate
antropy
dill
hmmlearn
joblib
keras
matplotlib
natsort
numpy
oculus
openai
openpyxl
pandas
plotapi
pyexcel
pyFirmata2
pygame
PyQt5
pyserial
pysr
PyWavelets
Requests
scikit-learn
scipy
seaborn
selenium
shap
snntorch
sounddevice
soundfile
SpeechRecognition
sympy
tensorly
torchsummary
torchviz
transformers
webdriver-manager
xgboost
lightgbm
pillow
mpmath
ipython
torch --index-url https://download.pytorch.org/whl/cu124
torchvision --index-url https://download.pytorch.org/whl/cu124
BaselineRemoval
ptyprocess
pexpect