accelerate
antropy
hmmlearn
joblib
matplotlib
natsort
numpy
oculus
openai
openpyxl
pandas
plotapi
pyexcel
pyFirmata2
pygame
PyQt5
pyserial
PyWavelets
Requests
scikit-learn
scipy
seaborn
selenium
shap
sounddevice
soundfile
SpeechRecognition
torchsummary
transformers
webdriver-manager
xgboost
lightgbm
pillow
BaselineRemoval
pexpect
torch
tensorflow
watchdog
opencv-python
pdf2image